body {
  background-color:#FFEFEF;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

nav {
  background-color: #d6b9b9;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

.logo img {
  width: 200px;
  height: auto;
}


.burger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  z-index: 1;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px;
  transition: all 0.3s ease;
}

.burger.active .line:nth-of-type(1) {
  transform: rotate(45deg);
  transform-origin: top left;
  width: 28px;
}

.burger.active .line:nth-of-type(2) {
  height: 0px;
}

.burger.active .line:nth-of-type(3) {
  transform: rotate(-45deg);
  transform-origin: bottom left;
  width: 28px;
  margin-bottom: 7px;
}

.dropdown-menu {
  display: none;
  position: fixed;
  margin: 0;
  top: 0;
  right: -290px;
  width: 250px; 
  height: 100vh;
  background-color: #d6b9b9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  list-style: none;
  z-index: 0;
  transition: right 0.3s ease-in-out;
}

.dropdown-menu.slide-in {
  right: 0;
  transition: right 0.3s ease-in-out;
}

.show {
  display: flex;
  flex-direction: column;
}

.dropdown-menu li {
  margin: 10px 0;
}

.dropdown-menu li a {
  color: #fff;
  text-decoration: none;
}

.dropdown-menu li a:hover {
  color: #5a4f4f;
  transition: 0.3s ease;
}

.textBox1 {
  display: inline-block;
  width: 85%;
  vertical-align: top;
  margin-top: 0%;
  margin-left: 7.5%;
  background-color: #F3D0D7;
  text-align: center;
  font-family: Helvetica;
  color: #5a4f4f;
} 

.textBox2 {
  display: inline-block;
  width: 85%;
  vertical-align: top;
  background-color: #F3D0D7;
  margin-top: 2.5%;
  margin-left: 7.5%;
  text-align: center;
  font-family: Helvetica;
  color: #5a4f4f;
}

footer {
  font-family: Helvetica, sans-serif;
  color: #5a4f4f;
  background-color: transparent;
  text-align: center;
}

.skillsList {
  font-family: Helvetica;
}

a:link, a:visited {
    background-color: transparent;
    color: #5a4f4f;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  

table, th, td {
  border: 2px solid #5a4f4f;
  border-collapse: collapse;
  border-radius: 10px;
}
th {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
}
td {
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #F3D0D7;
}
table {
  border-collapse: collapse;
  width: 100%;
}